<manifest package="com.smartlook.consentapi"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.consent.activity.ConsentActivity"
            android:theme="@style/Base.Theme.AppCompat.Light" />
    </application>
</manifest>
